---
layout: main.vto
---
<article lang="en-US" class="prose container mx-auto">
  {{ content }}
  {{ if footnotes.length }}
    <hr>
    <ol class="text-xs">
      {{ for note of footnotes }}
        <li id="{{ note.id }}">
          <span class="flex flex-row items-center">
            <span class="not-prose">{{ note.content }}</span>
            <a href="#{{ note.refId }}" class="footnote-backref">&crarr;</a>
          </span>
        </li>
      {{ /for }}
    </ol>
  {{ /if }}
</article>
